BOT_TOKEN = ''
CHAT_ID = 
USER_ID =  
ASR_BASE_URL="http://localhost:8080"
TTS_BASE_URL="http://localhost:8081"
TTS_VOICE="antonio" # See in voices folder to understand how to clone and add new voices

OPENAI_API_HOST="http://localhost:8000"
LLM_BASE_URL="http://localhost:8000"
SYSTEM_PROMPT_PATH="lingofluent\config\system_prompt.md" # Or provide yours 
LLM_TYPE = "" # Must be either "openai" or "llama_cpp"
LLM_BASE_URL = "http://localhost:8000" # To use compatibile custom backend (e.g. llama.cpp server) setup this, otherwise it must be None (Default OpenAI API).
OPENAI_API_KEY = '' # Required if LLM_TYPE is set to "openai" and LLM_BASE_URL is not set, otherwise it can be None or empty.
